.reason-container {
  margin-bottom: 120px;

  .reason-container__reason {
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 10px;
  }

  .reason__line {
    border-bottom: solid 3px #000000;
    border-radius: 3px;
    width: 80px;
    margin: 0 auto 100px auto;
  }

  .red-background {
    background-color: #ff0000;
    height: 500px;
    position: relative;

    .first-reason {
      width: 50%;
      height: 200px;
      background-color: #ffffff;
      border-radius: 0 10px 10px 0;
      position: absolute;
      top: 33px;
      left: 0;
      text-align: center;
      display: flex;
      justify-content: space-around;
      align-items: center;
      opacity: 0;

      .reason__text {

        .text__title {
          color: #ff0000;
          font-size: 1.75rem;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }
    .slide-left {
      animation: slide-left .7s ease-out 0s 1 forwards;
    }
    
    @keyframes slide-left {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .first-reason.fadein {
      transform: translateX(0px);
      transition: opacity .5s, transform .5s;
    }

    .second-reason {
      width: 50%;
      height: 200px;
      background-color: #ffffff;
      border-radius: 10px 0 0 10px;
      position: absolute;
      bottom: 33px;
      right: 0;
      text-align: center;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      opacity: 0;

      .reason__text {

        .text__title {
          color: #ff0000;
          font-size: 1.75rem;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }
    .slide-right {
      animation: slide-right .7s ease-out 0s 1 forwards;
    }

    @keyframes slide-right {
      0% {
        opacity: 0;
        transform: translateX(200%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .reason-container {
          margin-bottom: 80px;
  
          .reason-container__reason {
            font-size: 1.75rem;
          }
  
          .red-background {
            height: 500px;
            position: relative;
  
            .first-reason {
              width: calc(100% - 32px);
              
              .reason__img {
                height: 60px;
                margin-right: 10px;
              }
  
              .reason__text {
                text-align: left;
  
                .text__title {
                  font-size: 1.5rem;
                }
              }
            }
            .slide-left {
              animation: slide-left .7s ease-out 0s 1 forwards;
            }
            
            @keyframes slide-left {
              0% {
                opacity: 0;
                transform: translateX(-100%);
              }
              100% {
                opacity: 1;
                transform: translateX(0);
              }
            }
  
            .first-reason.fadein {
              transform: translateX(0px);
              transition: opacity .5s, transform .5s;
            }
  
            .second-reason {
              width: calc(100% - 32px);

              .reason__img {
                height: 60px;
                margin-right: 10px;
              }
  
              .reason__text {
                text-align: left;
  
                .text__title {
                  font-size: 1.5rem;
                }
              }
            }
            .slide-right {
              animation: slide-right .7s ease-out 0s 1 forwards;
            }
  
            @keyframes slide-right {
              0% {
                opacity: 0;
                transform: translateX(200%);
              }
              100% {
                opacity: 1;
                transform: translateX(0);
              }
            }
          }
        }
}